@import url("https://fonts.googleapis.com/css2?family=Alegreya&family=Lobster&family=Montserrat:wght@300;400;500;700&display=swap");

$hover-color: #eb5a46;
$gray: #262a2c;
$light-gray: #979797;

body {
  font-family: "Montserrat", sans-serif;
  color: #000;
  font-size: 14px;
  overflow-x: hidden;
}

p {
  margin-bottom: 5px;
}

a {
  color: #000;
  text-decoration: none;
  outline: 0 !important;

  &:visited,
  &:focus {
    color: unset;
  }

  &:hover {
    color: $hover-color;
  }
}

.home h1.entry-title {
  display: none;
}

header.site-header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #fff;
  border-bottom: 1px solid #ececec;

  .header-top {
    color: #fff;
    padding: 8px 0;
    background: #000;

    .header-top-container {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .dashicons {
        color: $hover-color;
      }

      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
          display: inline-block;
          margin-right: 15px;
          font-size: 13px;
        }
      }
    }
  }

  .site-title a {
    text-decoration: none;
    color: $gray;
    text-transform: capitalize;
    font-size: 28px;
    font-weight: bold;
    font-family: "Lobster", cursive;
  }

  .site-branding {
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .main-navigation {
    width: auto;

    & li {
      margin-right: 10px;
    }

    a {
      color: #262a2c;
    }

    #mega-menu-item-228 {
      .mega-block-title {
        position: absolute;
        background: black;
        color: white !important;
        padding: 2px 10px !important;
        font-size: 14px !important;
        bottom: 15px;
      }
    }
  }

  .side-navigation {
    .dashicons {
      font-size: 22px;
      width: 22px;
      height: 22px;
      color: #000;
    }

    ul {
      margin: 0;
      list-style-type: none;
      padding: 0;
      display: flex;

      li {
        margin-right: 15px;
        display: flex;
        align-items: center;
      }

      li:first-child {
        flex-direction: column;

        a {
          display: flex;
          align-items: center;
          flex-direction: column;
          color: #000;

          span {
            color: #000;
            font-weight: bold;
            font-size: 13px;
          }
        }

        .dashicons {
          color: $hover-color;
          font-size: 24px;
          width: 24px;
        }
      }

      li:last-child {
        position: relative;
        display: flex;
        align-items: center;

        .cart-total {
          position: absolute;
          top: 0;
          right: -9px;
          background: $hover-color;
          border-radius: 50%;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          -moz-border-radius: 50%;
          -webkit-border-radius: 50%;
          color: #fff;
          text-align: center;
        }

        .dashicons {
          font-size: 26px;
          width: 26px;
          color: #262a2c;
        }
      }
    }
  }
}

.page-title,
h1.entry-title {
  margin: 10px 0 25px 10px;
  position: relative;
  font-size: 38px;
  line-height: 42px;
  color: #262a2c;
  font-family: "Alegreya", serif;

  &:after {
    position: absolute;
    bottom: -10px;
    left: 10px;
    height: 3px;
    content: "";
    width: 76px;
    background-color: $hover-color;
  }
}

.entry-title-container {
  background-color: #282b2d;
  color: #fff;
  padding: 40px 0;

  .flex-container {
    align-items: center;
    justify-content: center;
  }

  .page-title,
  h1.entry-title {
    margin: 10px 0 25px 10px;
    position: relative;
    font-size: 48px;
    line-height: 52px;
    color: #fff;
    font-family: "Alegreya", serif;

    &:after {
      position: absolute;
      bottom: -10px;
      left: 10px;
      height: 3px;
      content: "";
      width: 76px;
      background-color: $hover-color;
    }
  }
}

.home header.site-header {
  margin-bottom: 0;
}

// .slider {
//   margin-bottom: 80px;
// }

.hero {
  overflow: hidden;
  min-height: 600px;
  color: #fff;
  margin-top: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-size: cover;

  h2 {
    padding: 0 40px;
    font-weight: bold;
    font-size: 40px;
  }

  p {
    padding: 0 40px;
  }

  .wp-block-buttons {
    margin: 20px 0 0 40px;

    .wp-block-button__link {
      padding: 5px 30px;
      border-radius: 0;
      background: $hover-color;
      font-weight: bold;

      &:hover {
        color: white;
      }
    }
  }

  &.hero-1 {
    background: url("http://localhost/shoppi/wp-content/uploads/2022/11/black-and-white-g10ddc5ab3_1920.jpg")
      no-repeat center center;
  }

  &.hero-2 {
    background: url("http://localhost/shoppi/wp-content/uploads/2022/11/girl-g15794e5c3_1920.jpg")
      no-repeat center center;
  }

  &.hero-3 {
    background: url("http://localhost/shoppi/wp-content/uploads/2022/11/blonde-ge432c64a4_1920.jpg")
      no-repeat center center;
  }
}

.jc-tabbed-products {
  margin: 20px 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 1%;
  align-items: center;

  span {
    color: $light-gray;
  }

  li {
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    color: $light-gray;

    &:hover,
    &.active {
      color: $hover-color;
    }
  }
}

.product-loop {
  margin-top: 30px;
}

#jc-tabbed-content,
.product-loop {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1.3%;

  article {
    width: 24%;
  }
}

article.product,
li.product {
  margin-bottom: 15px;

  .woocommerce-Price-amount {
    color: $hover-color;
    font-weight: bold;
  }

  .product-tags {
    margin-top: 10px;
    margin-bottom: 5px;

    a {
      background: $hover-color;
      color: white;
      padding: 1px 5px;
      font-size: 12px;
    }
  }
  .product-intro {
    display: flex;
    justify-content: space-between;

    p.entry-title {
      color: #000;
      font-family: "Alegreya", serif;
      font-size: 22px;
      line-height: 22px;
      font-weight: 500;
      font-style: normal;
      letter-spacing: 0.4px;

      a {
        color: #000;
      }
    }

    a {
      &.active .dashicons {
        color: $hover-color;
      }

      &:visited,
      &:active,
      &:focus {
        color: unset;
      }
    }

    .dashicons {
      font-size: 20px;
      cursor: pointer;

      &:hover {
        color: $hover-color;
      }
    }
  }

  .product-thumbnails {
    position: relative;

    .product-image {
      cursor: pointer;
      transition: opacity 0.4s ease;
      max-height: 400px;
      overflow: hidden;

      .main-thumbnail {
        opacity: 1;
        transition: opacity 0.3s ease-in-out;
        -moz-transition: opacity 0.3s ease-in-out;
        -webkit-transition: opacity 0.3s ease-in-out;
      }
    }

    .product-image-with-hover {
      cursor: pointer;
      transition: opacity 0.4s ease;
      position: relative;
      max-height: 400px;
      overflow: hidden;

      .hover-thumbnail {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        transition: opacity 0.3s ease-in-out;
        -moz-transition: opacity 0.3s ease-in-out;
        -webkit-transition: opacity 0.3s ease-in-out;
      }

      .main-thumbnail {
        opacity: 1;
        transition: opacity 0.3s ease-in-out;
        -moz-transition: opacity 0.3s ease-in-out;
        -webkit-transition: opacity 0.3s ease-in-out;
      }
    }

    .product-status {
      position: absolute;
      top: 3%;
      left: 3%;
      display: flex;
    }

    span.sale,
    span.out-of-stock {
      background: $hover-color;
      color: white;
      padding: 2px 12px;
    }
  }

  .jo-star-rating {
    list-style: none;
    margin: 0 0 0 10px;
    padding: 0;
    display: flex;

    .dashicons {
      font-size: 15px;
      width: 15px;
    }

    .dashicons-star-filled {
      color: #eb5a46;
    }
  }
}

.home .side,
.page .side {
  display: none;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  justify-content: space-between;

  .main-content {
    width: 100%;
  }

  .side {
    h4 {
      margin: 10px 0 25px 10px;
      position: relative;
      font-size: 16px;
      line-height: 20px;
      text-transform: uppercase;
      color: #262a2c;
      font-family: "Alegreya", serif;

      &:after {
        position: absolute;
        bottom: -10px;
        left: 10px;
        height: 3px;
        content: "";
        width: 76px;
        background-color: $hover-color;
      }
    }

    #wpforms-141 #wpforms-form-141 .wpforms-submit-container {
      margin-top: -15.7%;
    }

    .wp-block-social-links li {
      margin-right: 0px;
    }
  }
}

.blog {
  .main-content {
    width: 68%;
  }

  .side {
    width: 30%;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  }

  h2.entry-title {
    display: block;
    font-family: "Alegreya", serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 34px;
    margin-top: 10px;
  }

  .entry-meta {
    color: #afafaf;
    margin-top: 15px;
    font-size: 13px;
    font-style: italic;

    a {
      color: $hover-color;
    }
  }

  .nav-links a {
    background: $hover-color;
    color: white;
    padding: 5px 12px;
    font-weight: bold;
  }

  .cat-links a,
  .tags-links a {
    background: #eb5a46;
    color: white;
    padding: 1px 5px;
    font-size: 12px;
  }

  .comments-link {
    display: block;

    a {
      background: #eb5a46;
      color: white;
      padding: 1px 5px;
      font-size: 12px;
    }
  }
}

#jc-blog-posts {
  display: flex;
  flex-wrap: wrap;
  gap: 3%;

  article {
    width: 31.3333%;

    h2.entry-title {
      display: block;
      font-family: "Alegreya", serif;
      font-size: 20px;
      font-weight: 400;
      line-height: 28px;
      margin-top: 10px;
    }

    .entry-meta {
      color: #afafaf;
      margin-top: 15px;
      font-size: 13px;
      font-style: italic;

      a {
        color: $hover-color;
      }
    }
  }
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;

  .ripple {
    width: 2rem;
    height: 2rem;
    margin: 2rem;
    border-radius: 50%;
    border: 0.3rem solid $hover-color;
    transform: translate(50%);
    animation: 1s ripple ease-out infinite;
    display: none;
    margin: 10px 0;
  }

  @keyframes ripple {
    from {
      transform: scale(0);
      opacity: 1;
    }

    to {
      transform: scale(1);
      opacity: 0;
    }
  }
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.newsletter {
  padding-top: 40px;
  padding-bottom: 20px;
  color: #fff;
  background: url("http://localhost/shoppi/wp-content/uploads/2022/11/black-and-white-g10ddc5ab3_1920.jpg")
    no-repeat center center;
  background-size: cover;
}

.hero-boxes {
  .dashicons {
    font-size: 52px;
    height: 52px;
    width: 52px;
  }

  .is-layout-flow {
    align-self: center;
  }
}

.footer-callback {
  background: #262a2c;
  padding-top: 40px;
  padding-bottom: 20px;
  color: #fff;
  margin-bottom: 50px;
}

.wp-block-social-links li {
  margin-right: 10px;
}

#wpforms-141 {
  margin-top: 0;

  #wpforms-form-141 {
    margin-top: 0;

    input {
      border-radius: 20px;
      -moz-border-radius: 20px;
      -webkit-border-radius: 20px;
      padding: 20px;
    }
    .wpforms-submit {
      border-radius: 20px;
      -moz-border-radius: 20px;
      -webkit-border-radius: 20px;
      background: $hover-color;
      color: #fff;
    }

    .wpforms-field-container {
      width: 80%;
      float: none;
    }

    .wpforms-field {
      padding-right: 0;
      margin-top: 0;
      padding-top: 0;
    }

    .wpforms-submit-container {
      margin-top: -9.6%;
      margin-right: 20.5%;
      width: 110px;
    }
  }
}

footer {
  .footer-widgets {
    span.dashicons {
      color: $hover-color;
      margin-right: 9px;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        margin-bottom: 10px;
        a {
          font-size: 14px;
          text-transform: capitalize;
          line-height: 20px;
        }
      }
    }

    h2.site-title {
      text-decoration: none;
      color: #000;
      text-transform: capitalize;
      font-size: 28px;
      font-weight: bold;
      font-family: "Lobster", cursive;
      margin-top: 0;
      margin-bottom: 25px;
    }

    .widget-title {
      font-size: 14px;
      font-weight: 600;
      font-style: normal;
      letter-spacing: 0.04em;
      line-height: 28px;
      text-transform: uppercase;
      color: #262a2c;
      margin-bottom: 30px;
    }

    p {
      margin-bottom: 5px;
    }

    .footer-widget-5 .dashicons {
      font-size: 54px;
    }
  }

  .site-info {
    margin-top: 25px;
    border-top: 1px solid #dbe1e6;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 960px) {
  .alignwide,
  .alignfull {
    width: 100vw;
    max-width: 100vw;
    margin-left: calc(50% - 50vw);
  }
}

div.wpforms-container-full {
  margin: 0;
}

.contact-hero {
  .dashicons {
    background-color: #eb5a46;
    color: #fff;
    /* padding: 10px; */
    border-radius: 50%;
    width: 46px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  p {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 1px;
    text-transform: none;
    color: #444444;
  }

  .first {
    color: #8b99a3;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 10px;
  }
}
